.movies {
    display : grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
    row-gap: 25px;
    width: 80%;
    margin: 0 auto 10%;
}

.imgCard {
    border: 2px solid #5d5179;
    border-radius: 7px;
    background-color: #a2faa3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #cbbaed, 3px 3px 5px black;
    cursor: pointer;
}

.imgCard:hover {
    scale: 110%;
    box-shadow: -2px -2px 5px darkgray, 0px 0px 15px gray, 3px 3px 5px lightgray;
}

.posterImg {
    height: 250px;
    margin: 10px;
    border: 2px inset #92c9b1;

}

@media only screen and (max-width: 1230px) {
    .movies {
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
        width: 100%;
        padding: 5px;
    }
  }

  @media only screen and (max-width: 835px) {
    .movies {
        grid-template-columns: auto auto auto;
        box-sizing: border-box;
        column-gap: 0px;
        row-gap: 15px;
    }
  }

@media only screen and (max-width: 760px) {
    .movies {
        grid-template-columns: auto auto auto;
        box-sizing: border-box;
        column-gap: 0px;
    }

    .posterImg {
        height: 225px;
        margin: 2px;
    
    }
  }

@media only screen and (max-width: 500px) {
    .movies {
        grid-template-columns: auto auto;
        width: 100%;
        margin: 0;
    }
    .posterImg {
        width: 80%;
        height: auto;
        margin: 0;
    
    }
  }

  @media only screen and (max-width: 300px) {
    .movies {
        grid-template-columns: auto;
    }
    .posterImg {
        width: 100%;
        height: auto;
        margin: 0;
    
    }
  }

  @media only screen and (max-width: 220px) {
    .movies {
        margin: 0;
        padding: 0;
        width: 100%;
    }

  }
